<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark" style="background-color:black">
        <div class="container">

            <a href="/spice/Spicy_Not"><img src="~/Images/mild.png" /></a>

            <a href="/spice/Spicy">
                <img src="~/Images/spicy.png" />
            </a>

            <a href="/spice/Very_Spicy">
                <img src="~/Images/verySpicy.png" />
            </a>

            <a href="/spice/index" style="padding-right:30px">Spice</a>&nbsp;&nbsp;

            <a href="@Url.Action("GetShoppingCart", "Spice")" class="btn" style="width:10px;height:10px">
                <span id="" class="glyphicon glyphicon-shopping-cart" style="color:green"></span>Cart <span class="badge">@Session["cart"]</span>
            </a>


            @Html.Partial("_LoginPartial")

        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Resturant</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<style>
    body {
        background-image: url('/Images/restimg2.jpg');
        font-style:italic;
        color:antiquewhite;
    }
</style>