@model IEnumerable<Food.DomainLayer.Category>
@{
    ViewBag.Title = "Index";
}

<h2>List of Category</h2>

<div style="padding-top:10px">

    <form class="form-inline" action="/category/index">

        @Html.Label("Search", new { @class = "mr-1" })
        @Html.TextBox("Search", ViewBag.search as string, new { @class = "form-control mr-1", placeholder = "Search" })

        <button type="submit" class="btn btn-primary">Go</button>
    </form>
    <div style="padding-top:10px">
        <table class="table">
            <tr>
                <th> @Html.Label("Category Name")</th>



            </tr>
            @foreach (var item in Model)
            {
                <tr>

                    <td>@Html.ActionLink(item.Name, "Index", new { @item.Id }, "Spice")</td>


                    @*<td>@Html.ActionLink("ShowDetails", "Details", new { @item.Id }, "Employee")</td>
                        <td>@Html.ActionLink("Edit", "Edit", new { @item.Id }, "Employee")</td>


                        <td>@Html.ActionLink("Delete", "Delete", new { @item.Id }, "Employee")</td>*@

                </tr>
            }
        </table>
    </div>


</div>

